:root {
  --text: #220c27;
  --background: #fcf7fd;
  --primary: #c47ad6;
  --secondary: #dcb1e7;
  --accent: #86309c;
}

body {
  margin: 0;
  font-family: "Autour One", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}

div {
  color: var(--text);
}
